/**
  Global Website Footer
  ---------------------------------------------------------------------- */
#contact {
  padding: 4vw;
  text-align: center;
  font-size: 1.5em;

  .module-inner {
    max-width: 1024px;
  }

  h1 {
    margin-bottom: 0.75em;
    color: $orange;
    font-family: $font-default;
    @include fontItalic();
  }
}

#footer {
  @include grid(space-around, center);
  background-color: $blue;
  color: $white;
  padding: 2rem;
  font-size: 0.75em;

  a {
    color: $white;
  }

  .address {
    white-space: pre-line;
    margin-top: 1em;
  }

  .nav-social {
    @include navMenu(horizontal);
    @include grid(center, center);
    margin-bottom: 2em;

    span {
      display: none;
    }

    img {
      height: 2em;
      display: block;
      margin: 0 auto;
      @include transition();
    }

    a {
      display: block;
      margin: 0.5em;
      background-color: $white;
      border-radius: 100%;
      border: 2px solid $white;

      &:hover img {
        opacity: 0.6;
      }
    }
  }

  .nav-phone,
  .nav-email {
    @include navMenu(vertical);
    text-align: right;
    margin: 1em 0;

    .name {
      display: none;
    }
  }

  .nav-phone {
    font-size: 2em;
  }

  .nav-email {
    font-size: 1.5em;
  }
}

.footer-column {
  padding: 2em;
}

.footer-logo {
  height: 5em;
}

.footer-nav {
  @include navMenu(vertical);
  text-align: right;
  text-transform: uppercase;
  @include fontBold();

  a {
    display: block;
    margin: 1em 0 1em 1em;
  }

  .sub-menu {
    text-transform: none;
    font-size: 0.85em;
    @include fontBold(false);
  }
}

#menu-footer-menu {
  font-size: 1.5em;
}

.hbspt-form {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  form {
    @include grid(center, flex-start, row, wrap);
  }

  .hs-form-field {
    margin: 0 !important;
    width: 100%;
    padding: 0.25em 0.5em;

    > * {
      width: 100% !important;
      text-align: left;
      font-family: $font-default !important;
      letter-spacing: 0 !important;
    }

    &.hs-firstname,
    &.hs-lastname {
      max-width: 50%;
    }

    &.hs-city {
      max-width: 66.666%;
    }

    &.hs-state {
      max-width: 33.333%;
    }

    label {
      margin: 0 !important;
      color: $black;
      font-weight: $font-normal !important;
      font-family: $font-default;
    }

    input {
      margin: 0.25em 0 !important;
      border-color: transparentize($blue, 0.75);
      box-shadow: none;
      height: 2em;
      font-family: $font-default;
      letter-spacing: 0;
      color: $blue;

      &[type="text"],
      &[type="tel"],
      &[type="email"] {
        width: 100% !important;
        max-width: 100%;
      }

      &[type="checkbox"] {
        margin-right: 0.5em !important;
      }

      &:active,
      &:hover,
      &:focus {
        box-shadow: none !important;
        border-color: $blue;
      }
    }
  }

  .hs_error_rollup {
    width: 100%;
    text-align: center;

    label {
      text-align: center !important;
      font-family: $font-default;
      font-size: 1.25rem;
    }
  }

  input.hs-button {
    @extend .cta-button;
    text-shadow: none !important;
    background-image: none !important;
    box-shadow: none !important;
    width: auto;
    font-family: $font-heading;
    font-size: 1em;
    padding: 0.85em 2em !important;
    height: auto;
    line-height: 1;
    background-color: $orange;

    &:hover,
    &:active,
    &:focus {
      height: auto !important;
      box-shadow: none !important;
      border-color: $blue !important;
      background-color: $blue !important;
    }
  }

  .hs-error-msg {
    @include fontItalic();
    font-size: 0.75rem;
    color: $grey !important;
  }

  .video-container {
    padding: 0;
    margin: 0;
    display: none;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  #footer {
    @include grid(center, center, column);
    text-align: center;
    padding: 2em;

    .footer-column {
      padding: 0;
    }

    .nav-phone,
    .nav-email {
      text-align: center;
    }
  }

  .footer-nav {
    text-align: center;

    li {
      margin: 1em;
    }
  }

  #menu-footer-menu a {
    margin-left: 0;
  }
}
