/**
  Global Website Footer
  ---------------------------------------------------------------------- */
#contact {
  padding: 4vw;
  text-align: center;
  font-size: 1.5em;

  .module-inner {
    max-width: 1024px;
  }

  h1 {
    margin-bottom: 0.75em;
  }
}

#footer {
  @include grid(space-around, center);
  background-color: $blue;
  color: $white;

  a {
    color: $white;
  }

  .address {
    white-space: pre-line;
    margin-top: 1rem;
  }

  .nav-social {
    @include navMenu(horizontal);
    @include grid(center, center);
    margin-bottom: 2rem;

    span {
      display: none;
    }

    img {
      height: 2rem;
      display: block;
      margin: 0 auto;
      @include transition();
    }

    a {
      display: block;
      margin: 0.5rem;
      background-color: $white;
      border-radius: 100%;
      border: 2px solid $white;

      &:hover img {
        opacity: 0.6;
      }
    }
  }

  .nav-phone,
  .nav-email {
    @include navMenu(vertical);
    text-align: right;
    margin: 1rem 0;

    .name {
      display: none;
    }
  }

  .nav-phone {
    font-size: 2em;
  }

  .nav-email {
    font-size: 1.5em;
  }
}

.footer-column {
  padding: 2rem;
}

.footer-logo {
  height: 5rem;
}

.footer-nav {
  @include navMenu(vertical);
  text-align: right;
  text-transform: uppercase;
  @include fontBold();

  a {
    display: block;
    margin: 1em 0 1em 1em;
  }

  .sub-menu {
    text-transform: none;
    font-size: 0.85em;
    @include fontBold(false);
  }
}

.hbspt-form {
  iframe {
    width: 100% !important;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  #footer {
    @include grid(center, center, column);
    text-align: center;
    padding: 2rem;

    .footer-column {
      padding: 0;
    }

    .nav-phone,
    .nav-email {
      text-align: center;
    }
  }

  .footer-nav {
    text-align: center;

    li {
      margin: 1em;
    }
  }
}
