/**
  Global Website Header
  ---------------------------------------------------------------------- */
body {
  padding-top: 5rem;
}

#header {
  @include grid(space-between, center);
  background-color: $white;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 1rem 6vw;
  width: 100%;
  @include transition(all 500ms ease);

  &.is-scrolled {
    box-shadow: 0 0 1rem $black;
  }

  .nav-social {
    @include navMenu(horizontal);
    margin-left: 0.5em;

    a {
      display: block;
      margin: 0.25em;
    }

    span {
      display: none;
    }

    img {
      display: block;
      height: 1.5rem;
      width: auto;
    }
  }
}

.header-logo {
  height: 3rem;
  width: auto;
}

.header-nav {
  @include navMenu(dropdown);
  margin-left: auto;
  text-transform: uppercase;

  a {
    display: block;
    padding: 0.5em;
    margin: 0 0.5em;
    @include transition();

    &:hover {
      color: $orange;
    }
  }

  & > ul > li:last-child {
    a {
      color: $orange;
      @include fontItalic();

      &:hover {
        color: $blue;
      }
    }
  }

  .sub-menu {
    background-color: $white;
    padding-bottom: 0.5rem;
    font-size: 0.85em;
    text-transform: none;

    a {
      padding: 0.5em 0.75rem;
    }
  }
}

#header-nav-toggle {
  @include hamburgerMenu(9, $blue, 0.6);
  display: none;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  #header .nav-social,
  .header-nav {
    display: none;
  }

  #header-nav-toggle {
    display: block;
  }
}
