.module-default {
  background-color: $tan-light;

  h1, h2, h3, h4, a {
    color: $orange;
  }

  .module-inner {
    @include grid(space-between);
    max-width: 1400px;
  }
}

.default-content {
  width: 50%;
}

.default-sidebar {
  width: 30%;
  padding: 2rem;

  img {
    display: block;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  .default-content {
    width: 60%;
    padding-right: 2rem;
  }

  .default-sidebar {
    width: 40%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .module-default .module-inner {
    @include grid(center, center, column-reverse);
  }

  .default-content,
  .default-sidebar {
    width: 100%;
    padding: 0 0 2rem 0;
  }
}
