.module-hero {
  font-size: 1.75rem;
  color: $white;

  .module-inner {
    width: 100%;
  }
}

.hero-tall {
  @include grid(center, center);
  min-height: 80vh;
  padding: 6vw;

  h1 {
    text-transform: uppercase;
    text-shadow: 0.01em 0.01em 0.01em $black;
    margin-bottom: 4vw;
  }
}

.hero-short {
  padding: 0;

  img {
    width: 100%;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 960px) {
  .module-hero {
    text-align: center;
    font-size: 1.15rem;
  }

  .hero-tall {
    min-height: 50vh;
    padding: 2rem;
  }
}
