.module-subhead {
  font-size: 1.5em;
  color: $black;
  background-color: $tan;

  .module-inner {
    max-width: 1200px;
  }

  h2 {
    font-family: $font-heading;
    color: $orange;
  }

  p {
    font-family: $font-heading;
  }

  a {
    color: $tan-dark;
  }
}

.module-advantage {
  font-size: 1.25em;

  .module-inner {
    max-width: 1024px;
  }
}

.adv-single {
  display: block;
  text-align: center;
  padding: 2rem;

  img {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    transform: scale(0.9);
    @include transition();
  }

  &:hover img {
    transform: scale(1);
  }
}

#advantage-list {
  max-width: 80vw;
  margin: 0 auto 4vw auto;
  position: relative;

  .slick-arrow {
    @include icon(arrowRight-orange);
    position: absolute;
    font-size: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 1rem);

    &.slick-prev {
      left: -4rem;
      transform: rotate(180deg);
    }

    &.slick-next {
      right: -4rem;
    }
  }
}

.module-value {
  font-size: 1.25em;

  .module-inner {
    max-width: 1200px;
    padding: 2rem;
    background-color: $tan;
  }

  h2 {
    font-family: $font-heading;
    color: $orange;
  }
}

.module-video {
  .module-inner {
    max-width: 768px;
  }

  .video-container {
    margin-bottom: 0;
  }
}

.module-testimonials {
  background-color: $tan-light;
  color: $blue;

  .module-inner {
    max-width: 1200px;
  }

  blockquote {
    padding: 0;
    margin: 0;
    font-size: 2.25em;
    text-align: center;
    @include fontBold();

    &::before {
      display: none;
    }

    q,
    cite {
      display: block;
      padding: 1rem;
      @include fontItalic();
    }

    cite {
      text-align: right;

      &::before {
        content: '\2014';
        margin-right: 0.5ex;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 4rem;
    background-color: transparent;
    font-size: 0;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    @include icon('quote-orange');

    &.slick-prev {
      transform: scaleX(-1);
      left: -6.5rem;
    }

    &.slick-next {
      right: -6.5rem;
    }
  }
}

.module-imagecta {
  padding: 0;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.module-events {
  font-size: 1.5em;
  background-color: $tan;

  .module-inner {
    max-width: 768px;
  }

  h1 {
    margin-bottom: 0.25em;
  }
}

.events-buttons {
  @include listStripped();
  @include grid(center, center);

  li {
    @include grid(center, stretch);
    width: 50%;
    padding: 2rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 1px;
      height: 100%;
      background-color: $black;
    }

    &:first-of-type::before {
      display: none;
    }

    a {
      width: 100%;
      text-align: center;
    }
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  .module-subhead,
  .module-events {
    font-size: 1.25em;
  }

  .module-testimonials blockquote {
    font-size: 1.5em;
  }
}

@media (max-width: 960px) {
  #advantage-list {
    max-width: 100%;
    width: calc(100% - 10rem);
  }
}

@media (max-width: 768px) {
  .module-subhead,
  .module-advantage,
  .module-value,
  .module-events {
    font-size: 1em;
  }

  .module-testimonials blockquote {
    font-size: 1.25em;
  }
}
